body { 
    background-color: #ddd; 
}

.container { 
    height: 100%; 
    width: 100%; 
    display: table; 
}

.inner { 
    vertical-align: middle; 
    display: table-cell; 
    background-color: #ddd; 
}


