
.wxsvc-center {
    text-align: center;
}

.wxsvc-left {
    text-align: left;
}

.wxsvc-right {
    text-align: right;
}

.wxsvc-svc-credit {
    font-size: .75em;
}

/* owm forecast 
*/
.wxsvc-imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wxsvc-three_hour {
    /* width: 100%; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    /* border: 1px solid white; */
}

.wxsvc-nomargin-bot {
    margin-bottom: 0px!important;
}

.wxsvc-nomargin-top {
    margin-top: 0px!important;
}

.wxsvc-span-pad {
    padding-bottom: 1%;
}

/* noaa forecast table
*/
.wxsvc-table-cell-center {
    text-align:center!important;
}

.wxsvc-table-cell-vert {
    vertical-align:top!important;
}

.wxsvc-table-cell-width {
    width: 33.33%!important;
}

table {
  border-collapse: collapse;
  border-style: hidden;
    width: 100%!important;
}

table td {
  border: 2px solid white;
}

.text {
    text-align: left;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

